<div style="margin-left: {{ niveau * 20 }}px; margin-top: 20px; border-left: 1px solid rgb(248,249,250); padding-left: 10px;">
    <p><strong>Commentaire :</strong> {{ commentaire.texte }}</p>

    {% for photo in commentaire.photos %}

        <img src="{{ path('serve_image', { filename: photo.cheminFichierImage }) }}" alt="Image" width="150">
        <p class="fs-6 fst-italic fw-light">{{ photo.legende }}</p>

    {% endfor %}

    <div class="d-flex flex-row mb-3">
        <form action="{{ path('app_ajouter_un_commentaire_a_un_commentaire', {idCommentaire: commentaire.id, idPublication: idPublication}) }}" method="post">
            <input type="hidden" name="_token" value="{{ csrf_token('ajouter_un_commentaire_' ~ commentaire.id) }}">
            <button type="submit" class="btn btn-sm shadow me-3" data-bs-custom-class="custom-tooltip-ajout" data-bs-toggle="tooltip" data-bs-delay='{ "show": 600, "hide": 100 }' data-bs-placement="bottom" data-bs-title="Répondre au commentaire">
            {# &#x2795; #}<img class="icone-cliquable" src="{{ asset('assets/images/icone_ajouter.png') }}" alt="Icône non trouvé."></img>
            </button>
        </form>

        <form id="delete-form-{{ commentaire.id }}" action="{{ path('app_supprimer_un_commentaire', {id: commentaire.id}) }}" method="post">
            <input type="hidden" name="_token" value="{{ csrf_token('supprimer_un_commentaire_' ~ commentaire.id) }}">
        </form>
        <div data-bs-custom-class="custom-tooltip-delete" data-bs-toggle="tooltip" data-bs-delay='{ "show": 600, "hide": 100 }' data-bs-placement="bottom" data-bs-title="Supprimer le commentaire">
            <button type="button" class="btn btn-sm shadow" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal-{{ commentaire.id }}">
                {# &#x1f5d1; #}<img class="icone-cliquable" src="{{ asset('assets/images/icone_corbeille.png') }}" alt="Icône non trouvé."></img>
            </button>
        </div>
        {% include 'Composants/_confirm_delete_modal.html.twig' with {
            id: commentaire.id,
            modalTitle: 'Supprimer le commentaire',
            modalMessage: 'Voulez-vous vraiment supprimer le commentaire ? Cette action est irréversible.',
            confirmButtonLabel: 'Oui, supprimer'
        } %}
    </div>

    {# Affichage récursif des sous-commentaires #}
    {% for child in commentaire.children %}
        {% include 'FrontEnd/_commentaire_recursive.html.twig' with { commentaire: child, niveau: niveau + 1 } %}
    {% endfor %}
</div>
