{% extends 'base.html.twig' %}

{% block title %}Ajouter un commentaire{% endblock %}

{% block body %}

<div class="d-flex justify-content-end position-fixed top-0 start-0 m-3">
    <a href="{{ path('app_voir_un_contrat' , { id : contrat.id }) }}">
        <img class="icone-cliquable" src="{{ asset('assets/images/page_precedente.png') }}" alt="Icône non trouvé."></img>
    </a>
</div>

<div class="d-flex justify-content-between">
    <div class="d-flex justify-content-start">
{% if employe %}
        <form action="{{ path('app_unique_ajouter_une_publication') }}" method="POST">
            <input type="hidden" name="_token" value="{{ csrf_token('ajouter_une_publication') }}">
            <button type="submit" class="btn btn-outline-light btn-sm shadow me-5">Ajouter une publication</button>
        </form>
{% endif %}

{% if publications is defined and publications|length > 0 %}

        <form action="{{ path('app_generer_pdf_fac', {id: contrat.id}) }}" method="post" target="_blank">
            <input type="hidden" name="_token" value="{{ csrf_token('generer_pdf_fac_' ~ contrat.id) }}">
            <button type="submit" class="btn btn-outline-light btn-sm shadow">Générer PDF</button>
        </form>
    </div>

    <div>
        <form id="delete-form-FAC" action="{{ path('app_supprimer_une_fac') }}" method="POST">
            <input type="hidden" name="_token" value="{{ csrf_token('supprimer_une_fac') }}">
        </form>
        <div data-bs-custom-class="custom-tooltip-delete" data-bs-toggle="tooltip" data-bs-delay='{ "show": 600, "hide": 100 }' data-bs-placement="bottom" data-bs-title="Supprimer la fiche">
            <button type="button" class="btn btn-outline-danger btn-sm shadow" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal-FAC">
            {# &#x1f5d1; #}<img class="icone-cliquable" src="{{ asset('assets/images/icone_corbeille.png') }}" alt="Icône non trouvé."></img>
            </button>
        </div>
        {% include 'Composants/_confirm_delete_modal.html.twig' with {
            id: "FAC",
            modalTitle: "Supprimer la fiche d'avancement",
            modalMessage: "Voulez-vous vraiment supprimer la fiche d'avancement du contrat No « " ~ contrat.numeroContrat ~ " » ? Cette action est irréversible.",
            confirmButtonLabel: 'Oui, supprimer'
        } %}
    </div>
</div>

{% set noPublication = 1 %}
{% for publication in publications %}

    <div class="d-flex flex-column">
        <span class="fs-6 badge text-bg-light mt-5 mb-1" style="width: fit-content">Publication No {{noPublication}} : {{ publication.titre }}</span>
        <span class="fst-italic fw-light">{{publication.idUtilisateur.prenom}} {{publication.idUtilisateur.nom}}, {{ publication.dateHeureInsertion |format_datetime(locale='fr', pattern='EEEE d MMMM y à HH:mm') }}</span>
        <span class="mb-2">{{ publication.contenu }}</span>
    </div>

    {% for photo in publication.photos %}

        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#imageModal_publication_{{ noPublication }}">
            {# <img src="https://cdn-icons-png.flaticon.com/512/709/709592.png" alt="Zoom" style="width: 32px;"> #}
            <img src="{{ path('serve_image', { filename: photo.cheminFichierImage }) }}" alt="Image" width="150">
        </button>
        <div class="modal fade" id="imageModal_publication_{{ noPublication }}" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content bg-transparent border-0">
                <div class="modal-body text-center">
                    <img src="{{ path('serve_image', { filename: photo.cheminFichierImage }) }}" alt="Image zoomée" class="img-fluid rounded shadow">
                </div>
                </div>
            </div>
        </div>
        <p class="fs-6 fst-italic fw-light">{{ photo.legende }}</p>

    {% endfor %}

    <div class="d-flex flex-row mb-3">
        <form action="{{ path('app_unique_editer_une_publication' , {id: publication.id}) }}" method="POST">
            <button type="submit" class="btn btn-sm shadow me-3" data-bs-custom-class="custom-tooltip-edition" data-bs-toggle="tooltip" data-bs-delay='{ "show": 600, "hide": 100 }' data-bs-placement="bottom" data-bs-title="Editer la publication">
            {# &#x1f4dd; #}<img class="icone-cliquable" src="{{ asset('assets/images/icone_edition.png') }}" alt="Icône non trouvé."></img>
            </button>
        </form>

        <form action="{{ path('app_ajouter_un_commentaire_a_une_publication', {idPublication: publication.id}) }}" method="post">
            <input type="hidden" name="_token" value="{{ csrf_token('ajouter_un_commentaire_' ~ publication.id) }}">
            <button type="submit" class="btn btn-sm shadow me-3" data-bs-custom-class="custom-tooltip-ajout" data-bs-toggle="tooltip" data-bs-delay='{ "show": 600, "hide": 100 }' data-bs-placement="bottom" data-bs-title="Ajouter un commentaire">
            {# &#x2795; #}<img class="icone-cliquable" src="{{ asset('assets/images/icone_ajouter.png') }}" alt="Icône non trouvé."></img>
            </button>
        </form>

        <form id="delete-form-{{ publication.id }}" action="{{ path('app_supprimer_une_publication', {id: publication.id}) }}" method="post">
            <input type="hidden" name="_token" value="{{ csrf_token('supprimer_une_publication_' ~ publication.id) }}">
        </form>
        <div data-bs-custom-class="custom-tooltip-delete" data-bs-toggle="tooltip" data-bs-delay='{ "show": 600, "hide": 100 }' data-bs-placement="bottom" data-bs-title="Supprimer la publication">
            <button type="button" class="btn btn-sm shadow" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal-{{ publication.id }}">
                {# &#x1f5d1; #}
                <img class="icone-cliquable" src="{{ asset('assets/images/icone_corbeille.png') }}" alt="Icône non trouvé."></img>
            </button>
        </div>
        {% include 'Composants/_confirm_delete_modal.html.twig' with {
            id: publication.id,
            modalTitle: 'Supprimer la publication',
            modalMessage: 'Voulez-vous vraiment supprimer la publication intitulée « ' ~ publication.titre ~ ' » ? Cette action est irréversible.',
            confirmButtonLabel: 'Oui, supprimer'
        } %}
    </div>

    {% for commentaire in publication.commentairesArbre %}
        {% include 'FrontEnd/_commentaire_recursive.html.twig' with { commentaire: commentaire, idPublication: publication.id, niveau: 0 } %}
    {% endfor %}

    {% set noPublication = noPublication + 1 %}

{% endfor %}

<a href="{{ path('app_voir_un_contrat', { id: contrat.id }) }}" class="btn btn-outline-light btn-sm shadow mt-4">Retour</a>
<br><br>

{% else %}
    </div>
</div>
<p class="text-danger mt-5">Aucune publication</p>
{% endif %}

{% endblock %}