{% extends 'base.html.twig' %}

{% block title %}Ajouter un commentaire{% endblock %}

{% block body %}

<div class="d-flex justify-content-end position-fixed top-0 end-0 m-3">
    <a href="{{ path('app_voir_un_contrat' , { id : contrat.id }) }}">
        <img class="icon-page-precedente" src="{{ asset('assets/images/page_precedente.png') }}" alt="Icône non trouvé."></img>
    </a>
</div>

{% if publications is defined and publications|length > 0 %}

<div class="d-flex justify-content-between">
    <div class="d-flex justify-content-start">
        <form action="{{ path('app_unique_ajouter_une_publication') }}" method="POST">
            <input type="hidden" name="_token" value="{{ csrf_token('ajouter_une_publication') }}">
            <button type="submit" class="btn btn-outline-light btn-sm mb-3 me-5">Ajouter une publication</button>
        </form>

        <form action="{{ path('app_generer_pdf_fac', {id: contrat.id}) }}" method="post" target="_blank">
            <input type="hidden" name="_token" value="{{ csrf_token('generer_pdf_fac_' ~ contrat.id) }}">
            <button type="submit" class="btn btn-outline-danger btn-sm">Générer PDF</button>
        </form>
    </div>

    <form action="{{ path('app_supprimer_une_fac') }}" method="POST">
        <input type="hidden" name="_token" value="{{ csrf_token('supprimer_une_fac') }}">
        <button type="submit" class="btn btn-outline-light btn-sm mb-3 me-5" onclick="return confirm('Supprimer ?');">Supprimer la fiche d'avancement</button>
    </form>
</div>

{% set noPublication = 1 %}
{% for publication in publications %}

    <p class="fs-6 badge text-bg-light mt-5">Publication No {{noPublication}} : {{ publication.titre }}</p>
    <p>{{ publication.dateHeureMAJ|date('Y-m-d H:i') }}</p>
    <p>{{ publication.contenu }}</p>

    {% for photo in publication.photos %}

        <img src="{{ path('serve_image', { filename: photo.cheminFichierImage }) }}" alt="Image" width="150">
        <p class="fs-6 fst-italic">{{ photo.legende }}</p>

    {% endfor %}

    <div class="d-flex flex-row mb-3">
        <form action="{{ path('app_unique_editer_une_publication' , {id: publication.id}) }}" method="POST">
            <button type="submit" class="btn btn-outline-light btn-sm me-3">Editer</button>
        </form>

        <form action="{{ path('app_ajouter_un_commentaire_a_une_publication', {idPublication: publication.id}) }}" method="post">
            <input type="hidden" name="_token" value="{{ csrf_token('ajouter_un_commentaire_' ~ publication.id) }}">
            <button type="submit" class="btn btn-outline-light btn-sm me-3">Commentaire</button>
        </form>

        <form action="{{ path('app_supprimer_une_publication', {id: publication.id}) }}" method="post" class="delete-form">
            <input type="hidden" name="_token" value="{{ csrf_token('supprimer_une_publication_' ~ publication.id) }}">
            <button type="button" class="btn btn-outline-danger btn-sm btn-delete" onclick="return confirm('Supprimer ?');">Supprimer</button>
        </form>
    </div>

    {% for commentaire in publication.commentairesArbre %}
        {% include 'FrontEnd/_commentaire_recursive.html.twig' with { commentaire: commentaire, idPublication: publication.id, niveau: 0 } %}
    {% endfor %}

    {% set noPublication = noPublication + 1 %}

{% endfor %}

<a href="{{ path('app_voir_un_contrat', { id: contrat.id }) }}" class="btn btn-outline-light btn-sm mt-4">Retour</a>

{% else %}
    <p class="text-danger">Aucune publication</p>
{% endif %}

{% endblock %}