{% extends 'base.html.twig' %}

{% block title %}Ajouter un commentaire{% endblock %}

{% block body %}
<div class="d-flex justify-content-end position-fixed top-0 end-0 m-3">
    <a href="{{ app.request.headers.get('referer') }}">
        <img class="icon-page-precedente" src="{{ asset('assets/images/page_precedente.png') }}" alt="Icône non trouvé."></img>
    </a>
</div>

{{ form_start(form) }}
<div style="" class="p-2">
    {{ form_row( form.texte ) }}
    {{ form_row( form.legende ) }}
    {{ form_row( form.photo ) }}
    {{ form_row( form.submit ) }}
    <a href="{{ path('app_afficher_fac') }}" class="btn btn-outline-light btn-sm mt-3">Annuler</a>
</div>
{{ form_end(form) }}

{% endblock %}