{% extends 'base.html.twig' %}

{% block title %}{% if edition == true %}Editer{% else %}Ajouter{% endif %} un compte client{% endblock %}

{% block body %}

<div class="d-flex justify-content-end position-fixed top-0 end-0 m-3">
    <a href="{{ app.request.headers.get('referer') }}">
        <img class="icon-page-precedente" src="{{ asset('assets/images/page_precedente.png') }}" alt="Icône non trouvé."></img>
    </a>
</div>

{% set pile = app.session.get('pile_de_pdf_dans_public', []) %}
<h3>Contenu de la pile PDF :</h3>
<ul>
    {% for path in pile %}
        <li>{{ path }}</li>
    {% else %}
        <li><em>(pile vide)</em></li>
    {% endfor %}
</ul>

{{ form_start(form) }}

<div style="" class="p-2">

    {{ form_label(form.intitule) }}
    {{ form_widget(form.intitule) }}
    {{ form_errors(form.intitule) }}

    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
    {{ form_errors(form.description) }}

</div>

<div style="grid-template-columns: 1fr 1fr;" class="d-grid gap-3">

    <div class="p-1">
        {{ form_label(form.numeroContrat) }}
        {{ form_widget(form.numeroContrat) }}
        {{ form_errors(form.numeroContrat) }}
    </div>

    <div class="p-1">
        {{ form_label(form.etatChoisi) }}
        {{ form_widget(form.etatChoisi) }}
        {{ form_errors(form.etatChoisi) }}
    </div>

    <div style="grid-template-columns: 1fr 1fr;" class="d-grid gap-3">

        <div class="p-1">
            {{ form_label(form.dateDebutPrevue) }}
            {{ form_widget(form.dateDebutPrevue) }}
            {{ form_errors(form.dateDebutPrevue) }}
        </div>

        <div class="p-1">
            {{ form_label(form.dateFinPrevue) }}
            {{ form_widget(form.dateFinPrevue) }}
            {{ form_errors(form.dateFinPrevue) }}
        </div>

    </div>

    <div style="grid-template-columns: 1fr 1fr;" class="d-grid gap-3">

        <div class="p-1">
            {{ form_label(form.dateDebut) }}
            {{ form_widget(form.dateDebut) }}
            {{ form_errors(form.dateDebut) }}
        </div>

        <div class="p-1">
            {{ form_label(form.dateFin) }}
            {{ form_widget(form.dateFin) }}
            {{ form_errors(form.dateFin) }}
        </div>

    </div>

</div>

{% if edition == true %}
<div style="" class="p-2">

    {{ form_label(form.nomContratActuel) }}
    {{ form_widget(form.nomContratActuel) }}
    {{ form_errors(form.nomContratActuel) }}

</div>
{% endif %}

{% if pathContratActuel is defined and pathContratActuel is not null %}
    <div class="alert alert-warning mt-2" role="alert">
        ⚠️ Un contrat est déjà enregistré (<strong> {{ pathContratActuel|split('/')|last }} </strong>).<br>
        En choisissant un nouveau contrat ci-dessous, celui-ci <strong>remplacera</strong> l'ancien lors de la validation du formulaire.
    </div>
    <p>
        📄 <a href="{{ asset(pathContratActuel|default('')) }}" target="_blank">
            Télécharger le contrat actuel
        </a>
    </p>
{% endif %}

<div style="" class="p-2">

    {{ form_label(form.cheminFichier) }}
    {{ form_widget(form.cheminFichier) }}
    {{ form_errors(form.cheminFichier) }}

</div>

{{ form_row( form.submit ) }}

{{ form_end(form) }}

<a href="{{ app.request.headers.get('referer') }}" class="btn btn-outline-light btn-sm mt-4">Abandonner</a>

{% endblock %}
