{% extends 'base.html.twig' %}

{# {% set pile = app.session.get('pile_de_pdf_dans_public', []) %}
<h3>Contenu de la pile PDF :</h3>
<ul>
    {% for path in pile %}
        <li>{{ path }}</li>
    {% else %}
        <li><em>(pile vide)</em></li>
    {% endfor %}
</ul> #}

{% block title %}{% if edition == true %}Editer{% else %}Ajouter{% endif %} un compte client{% endblock %}

{% block body %}

<div class="d-flex justify-content-end position-fixed top-0 start-0 m-3">
    <a href="{{ path('app_liste_des_contrats' , { id: id }) }}">
        <img class="icone-cliquable" src="{{ asset('assets/images/page_precedente.png') }}" alt="Icône non trouvé."></img>
    </a>
</div>

{{ form_start(form) }}

<div style="" class="p-2">

    {{ form_label(form.intitule) }}
    {{ form_widget(form.intitule) }}
    {{ form_errors(form.intitule) }}

    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
    {{ form_errors(form.description) }}

</div>

<div style="grid-template-columns: 1fr 1fr;" class="d-grid gap-3">

    <div class="p-1">
        {{ form_label(form.numeroContrat) }}
        {{ form_widget(form.numeroContrat) }}
        {{ form_errors(form.numeroContrat) }}
    </div>

    <div class="p-1">
        {{ form_label(form.etatChoisi) }}
        {{ form_widget(form.etatChoisi) }}
        {{ form_errors(form.etatChoisi) }}
    </div>

    <div style="grid-template-columns: 1fr 1fr;" class="d-grid gap-3">

        <div class="p-1">
            {{ form_label(form.dateDebutPrevue) }}
            {{ form_widget(form.dateDebutPrevue) }}
            {{ form_errors(form.dateDebutPrevue) }}
        </div>

        <div class="p-1">
            {{ form_label(form.dateFinPrevue) }}
            {{ form_widget(form.dateFinPrevue) }}
            {{ form_errors(form.dateFinPrevue) }}
        </div>

    </div>

    <div style="grid-template-columns: 1fr 1fr;" class="d-grid gap-3">

        <div class="p-1">
            {{ form_label(form.dateDebut) }}
            {{ form_widget(form.dateDebut) }}
            {{ form_errors(form.dateDebut) }}
        </div>

        <div class="p-1">
            {{ form_label(form.dateFin) }}
            {{ form_widget(form.dateFin) }}
            {{ form_errors(form.dateFin) }}
        </div>

    </div>

</div>

{% if edition == true %}
<div style="" class="p-2">

    {{ form_label(form.nomContratActuel) }}
    {{ form_widget(form.nomContratActuel) }}
    {{ form_errors(form.nomContratActuel) }}

</div>
{% endif %}

<div style="grid-template-columns: 1fr 1fr;" class="d-grid gap-3">
    <div style="" class="p-2">

        {{ form_label(form.cheminFichier) }}
        {{ form_widget(form.cheminFichier) }}
        {{ form_errors(form.cheminFichier) }}

        <div class="d-flex align-items-start justify-content-start mt-5">
            {{ form_row( form.submit ) }}
            <a href="{{ path('app_liste_des_contrats' , { id: id }) }}" class="btn btn-outline-light btn-sm shadow ms-4">Abandonner</a>
        </div>


    </div>
    <div style="" class="p-2">
        {% if pathContratActuel is defined and pathContratActuel is not null %}
            <div class="alert alert-warning fs-6 mt-2" role="alert">
                ⚠️ Un contrat est déjà enregistré (<strong> {{ pathContratActuel|split('/')|last }} </strong>).<br>
                En choisissant un nouveau contrat, celui-ci <strong>remplacera</strong> l'ancien lors de la validation du formulaire.
            </div>
            <p>
                📄 <a href="{{ asset(pathContratActuel|default('')) }}" target="_blank">
                        Télécharger le contrat actuel
                    </a>
                    : <strong> {{ pathContratActuel|split('/')|last }} </strong> .
            </p>
        {% endif %}
    </div>
</div>

{{ form_end(form) }}

{% endblock %}
