{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #the-canvas {
            border: 1px solid black;
            direction: ltr;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js"></script>
{% endblock %}

{% block title %}Voir un contrat{% endblock %}

{% block body %}
<div class="d-flex justify-content-end position-fixed top-0 start-0 m-3">
    <a href="{{ path('app_liste_des_contrats' , { id : client.id }) }}">
        <img class="icone-cliquable" src="{{ asset('assets/images/page_precedente.png') }}" alt="Icône non trouvé."></img>
    </a>
</div>

{# {% set pile = app.session.get('pile_de_pdf_dans_public', []) %}
<h3>Contenu de la pile PDF :</h3>
<ul>
    {% for path in pile %}
        <li>{{ path }}</li>
    {% else %}
        <li><em>(pile vide)</em></li>
    {% endfor %}
</ul> #}



{% if employe %}
<div class="d-flex justify-content-around">
    <a href="{{ path('app_afficher_fac') }}" class="btn btn-sm btn-outline-primary shadow">Consulter la fiche d'avancement du chantier</a>

    <form id="delete-form-{{ contrat.id }}" action="{{ path('app_supprimer_un_contrat', {id: contrat.id}) }}" method="post">
        <input type="hidden" name="_token" value="{{ csrf_token('supprimer_un_contrat_' ~ contrat.id) }}">
    </form>
    <div data-bs-custom-class="custom-tooltip-delete" data-bs-toggle="tooltip" data-bs-delay='{ "show": 600, "hide": 100 }' data-bs-placement="bottom" data-bs-title="Supprimer le contrat">
        <button type="button" class="btn btn-outline-danger btn-sm shadow" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal-{{ contrat.id }}">
            {# &#x1f5d1; #}<img class="icone-cliquable" src="{{ asset('assets/images/icone_corbeille.png') }}" alt="Icône non trouvé."></img>
        </button>
    </div>
    {% include 'Composants/_confirm_delete_modal.html.twig' with {
        id: contrat.id,
        modalTitle: 'Supprimer le contrat',
        modalMessage: 'Voulez-vous vraiment supprimer le contrat No « ' ~ contrat.numeroContrat ~ ' » ? Cette action est irréversible.',
        confirmButtonLabel: 'Oui, supprimer'
    } %}
</div>
{% else %}
<a href="{{ path('app_afficher_fac') }}" class="btn btn-sm btn-outline-primary shadow">Consulter la fiche d'avancement du chantier</a>
{% endif %}

<div class="container my-5">

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-5 d-flex justify-content-center">
            <div class="card bg-transparent ps-3" style="width: 18rem;">
                    {% if ( client.prenom is defined and client.prenom is not empty ) and ( client.nom is defined and client.nom is not empty ) %}
                        <h5 class="card-title mx-auto mb-3">{{client.prenom}} {{client.nom}}</h5>
                    {% endif %}
                    {% if client.telephoneFixe is defined and client.telephoneFixe is not empty %}
                        <span class="card-text"><span class="fw-bold">Fixe :</span> {{client.telephoneFixe}}</span>
                    {% endif %}
                    {% if client.telephoneMobile is defined and client.telephoneMobile is not empty %}
                        <span class="card-text"><span class="fw-bold">Mobile :</span> {{client.telephoneMobile}}</span>
                    {% endif %}
                    {% if ( client.rueEtNumero is defined and client.rueEtNumero is not empty ) and
                    ( client.codePostal is defined and client.codePostal is not empty ) and
                    ( client.ville is defined and client.ville is not empty )
                    %}
                        <span class="card-text">{{client.rueEtNumero}}, {{client.codePostal}} {{client.ville}}</span>
                    {% endif %}
                    {% if client.societe is defined and client.societe is not empty %}
                        <span class="card-text"><span class="fw-bold">Société :</span> {{client.societe}}</span>
                    {% endif %}
                    <br>
                    {% if contrat.societe is defined and contrat.societe is not empty %}
                        <span class="card-text"><span class="fw-bold">Contrat No :</span> {{contrat.numeroContrat}}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% if etatsSuccessifsSpecifiesPar is defined and etatsSuccessifsSpecifiesPar|length > 0 %}
    <p class="mt-6 fs-5 fw-semibold mt-3">Etats successifs du contrat :</p>
    <ul>
        {% for etat in etatsSuccessifsSpecifiesPar %}
            <li><span class="badge text-bg-light">{{ etat.etat.etat }}</span> - spécifié par {{ etat.specifiePar.prenom }} {{ etat.specifiePar.nom }} le {{ etat.etat.dateHeureInsertion |format_datetime(locale='fr', pattern='EEEE d MMMM y à HH:mm') }} .</li>
        {% endfor %}
    </ul>
{% endif %}

{% if contrat.cheminFichier is defined and contrat.cheminFichier is not null %}
    <div class="d-flex justify-content-center mb-4">
        <span class="fs-5 fw-semibold">{{ contrat.cheminFichier|split('/')|last }}</span>
    </div>

<div class="d-flex justify-content-center">
    <div class="d-flex flex-column" style="width: fit-content">
        <div class="badge text-bg-light">
            <div class="d-flex justify-content-between d-inline-block mt-1">
                <button id="prev" class='btn btn-outline-primary btn-sm shadow mb-1'>Page précédente</button>
                &nbsp; &nbsp;
                <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
                &nbsp; &nbsp;
                <button id="next" class='btn btn-outline-primary btn-sm shadow mb-1'>Page suivante</button>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <canvas id="the-canvas" class="border border-primary border-5 border-opacity-50 rounded"></canvas>
        </div>
    </div>
</div>

    <script type="module">

        const url = "{{ asset('storage/' ~ contrat.cheminFichier) }}";

        var { pdfjsLib } = globalThis;

        pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.worker.min.js';

        var pdfDoc = null,
            pageNum = 1,
            pageRendering = false,
            pageNumPending = null,
            scale = 1,
            canvas = document.getElementById('the-canvas'),
            ctx = canvas.getContext('2d');

        function renderPage(num) {
            pageRendering = true;
            pdfDoc.getPage(num).then(function(page) {
                var viewport = page.getViewport({scale: scale});
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                var renderContext = {
                    canvasContext: ctx,
                    viewport: viewport
                };
                var renderTask = page.render(renderContext);

                renderTask.promise.then(function() {
                    pageRendering = false;
                    if (pageNumPending !== null) {
                    renderPage(pageNumPending);
                    pageNumPending = null;
                    }
                });
            });

            document.getElementById('page_num').textContent = num;
        }

        /**
        * If another page rendering in progress, waits until the rendering is
        * finised. Otherwise, executes rendering immediately.
        */
        function queueRenderPage(num) {
            if (pageRendering) {
            pageNumPending = num;
            } else {
            renderPage(num);
            }
        }

        /**
        * Displays previous page.
        */
        function onPrevPage() {
            if (pageNum <= 1) {
            return;
            }
            pageNum--;
            queueRenderPage(pageNum);
        }
        document.getElementById('prev').addEventListener('click', onPrevPage);

        /**
        * Displays next page.
        */
        function onNextPage() {
            if (pageNum >= pdfDoc.numPages) {
            return;
            }
            pageNum++;
            queueRenderPage(pageNum);
        }
        document.getElementById('next').addEventListener('click', onNextPage);

        /**
        * Asynchronously downloads PDF.
        */
        pdfjsLib.getDocument(url).promise.then(function(pdfDoc_) {
            pdfDoc = pdfDoc_;
            document.getElementById('page_count').textContent = pdfDoc.numPages;

            // Initial/first page rendering
            renderPage(pageNum);
        });
  </script>

{% endif %}

    <br>
    <a href="{{ path('app_liste_des_contrats', { id: client.id }) }}" class="btn btn-outline-light btn-sm shadow mt-4">Retour</a>

</div>

{% endblock %}
