<div class="modal fade" id="confirmDeleteModal-{{ id }}" tabindex="-1" aria-labelledby="confirmDeleteLabel-{{ id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="confirmDeleteLabel-{{ id }}">
          {{ modalTitle|default('Confirmer la suppression') }}
        </h5>
        <button type="button" class="btn-close btn" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        {{ modalMessage|default('Voulez-vous vraiment supprimer cet élément ? Cette action est irréversible.') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger" onclick="document.getElementById('delete-form-{{ id }}').submit();">
          {{ confirmButtonLabel|default('Supprimer') }}
        </button>
      </div>
    </div>
  </div>
</div>
